@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 5px solid var(--button);
  border-top: 5px solid var(--container);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin: auto;
  margin-top: 0.825rem;
}



/* .spinner-container {
  justify-content: center;
  align-items: center;
} */