.button {
  margin: 1rem;
  width: 140px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  /* Matching the font family */
  font-size: 14px;
  /* Slightly larger font size for better readability */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  /* Adjusting font-weight for Poppins */
  color: var(--button-text);
  background-color: var(--button);
  border: none;
  border-radius: 20px;
  /* Rounded corners for a modern look */
  box-shadow: 0px 8px 15px black;
  /* More subtle shadow */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover:enabled {
  background-color: var(--button-hover);
  box-shadow: 0px 10px 15px var(--button-shadow);
  /* Shorter shadow on hover */
  color: var(--button-text-hover);
  transform: translateY(-4px);
}